<div class="container">
    <h4>Upload de novo arquivo</h4>

    <li>
    <ul><label>Informe o Nome do Arquivo:</label>
    <input type="text" id="nome"></ul>

    
    <ul><label>Informe uma Descrição:</label>
    <input type="text" id="desc"></ul>
    
    <input  id="import" class="ajuste4" type="file"  (change)="onChange($event)"/>

    <!-- <button class="btn btn-success ajuste3 btn-lg" (click)="CreateFile()">Confirmar</button>
    <button class="btn btn-danger  btn-lg">Cancelar</button> -->

    </li>
    </div>